<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}" type="text/css" >
    <script src="{{ url_for('static', filename='js/validaciones.js') }}" ></script>
        <title>usuario</title>
</head>
<body>
    <div id="lateral">


        <div> <img class="icono" src="{{ url_for('static', filename='img/admin.jpeg') }}" alt="aqui va el logo"></div>
        
        <div><b>{{session['nombre'] , session['rol']}}</b></div>
        
        <div class="separador"></div>
        

        <div> <ul><a href="/inicioempleado"  >Mi inicio</a></ul></div>

        <div class="separador"></div>

        <div> <ul><a href=/retrousuario>ver Mi retroalimentacion</a></ul></div>
        <div class="separador"></div>

        <div> <ul><a href="/login" target="black">Salir</a></ul></div>
        <div class="separador"></div>
    </div>


    <div id="contenido">
        <div id='divi1'>
        {%block content1 %} 
        {%endblock%}
        </div>

        <div id='divi2'>
        {%block content2 %} 
        {%endblock%}
        </div>

        <div id='divi3'>
        {%block content3 %} 
        {%endblock%}
        </div>

        <div id='divi4'>
            <img   src="{{ url_for('static', filename='img/download.jpeg') }}" width="100%" height="150px" alt="aqui va el logo">
        </div>



        

    </div>


      
      

  
</body>
</html>
