{% extends 'baseempleado.html' %}

{% block content1%}
<img   src="{{ url_for('static', filename='img/download.jpeg') }}" width="100%" height="100px" alt="aqui va el logo">


{% endblock content1%}




{% block content2%}

   
{% endblock content2%}



{% block content3%}

<div class="columna">

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, 
       aut? Dignissimos odio et a reprehenderit non explicabo veniam, eius voluptatem magnam neque,
        ducimus aliquid, maiores cum facere laudantium asperiores libero!

   </div>
   <div class="columna" >
       <input type="date">

   </div>

{% endblock content3%}

